<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin</title>
    <link rel="icon" type="image/png" href="../img/logo.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/style2.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>

<body>
    
    <div class="admin-section-header">
        <div class="admin-logo">
            <i class="fas fa-video"></i>
            Mlem Cinema System
        </div>
        <div class="admin-login-info">
            <a href="#">Welcome, Admin</a>
            <img class="admin-user-avatar" src="/images/avatar.png" alt="">
        </div>
    </div>
    <div class="admin-container">
        <div class="admin-section admin-section1 ">
            <ul>
                <a href="/admin"><li ><i class="fas fa-sliders-h"></i>Dashboard</li></a>
                <a href="/admin/bookings"><li class="active-menu"><i class="fas fa-ticket-alt"></i>Bookings </i></li></a>
                
                <ul class="admin-navigation-schedule-dropdwn hidden-div">
                    <li>View Schedule</li>
                    <li>Edit Schedule</li>
                </ul>
                <a href="/admin/movies"><li><i class="fas fa-film"></i>Movies </li></a>
                <a href="/admin/hall"><li><i class="fas fa-video"></i>Hall</li></a>
                <a href="/admin/employee"><li><i class="fas fa-user-tie"></i>Employee</li></a>
            </ul>
        </div>
        <div class="admin-section admin-section2">
            <div class="admin-section-column">
                <div class="admin-section-panel admin-section-panel2 w-60vw">
                    <div class="admin-panel-section-header">
                        <h2>Bookings</h2>
                    </div>
                    <div class="admin-panel-section-content">
                        <div class="admin-panel-section-booking-item">
                            <div class="admin-panel-section-booking-response">
                                <a href="#"><i class="fas fa-wrench accept-booking" title="Change payment status"></i></a>
                                <a href='#'><i class="fas fa-times decline-booking" title="Reject booking"></i></a>
                            </div>
                            <div class="admin-panel-section-booking-info">
                                <div>
                                    <h3>movieName</h3>
                                    <i class="fas fa-grip-lines-vertical "></i>
                                    <h4>bookingTheatre </h4>
                                    <i class="fas fa-grip-lines-vertical "></i>
                                    <h4>bookingDate</h4>
                                    <i class="fas fa-grip-lines-vertical "></i>
                                    <h4>bookingTime</h4>
                                </div>
                                <div>
                                    <h4>bookingFName bookingLName</h4>
                                    <i class="fas fa-grip-lines-vertical"></i>
                                    <h4>bookingPNumber</h4>
                                    <i class="fas fa-grip-lines-vertical"></i>
                                        
                                    <i class="fas fa-check-circle" style='color:lightblue'></i>
                                    <h4>Paid</h4>
                                        
                                    <i class="fas fa-exclamation-circle" style='color:orange'></i>
                                    <h4>Not yet paid</h4>
                                       
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/javascripts/jquery-3.3.1.min.js "></script>
    <script src="/javascripts/owl.carousel.min.js "></script>
    <script src="/javascripts/script.js "></script>
</body>

</html>