<div class="admin-section admin-section2">
    <div class="admin-section-column">
        <div class="admin-section-panel admin-section-stats">
            <a class="admin-section-stats-panel" href="/admin/bookings">
                <i class="fas fa-ticket-alt" style="background-color: #cf4545"></i>
                Bookings
            </a>
            <a class="admin-section-stats-panel" href="/admin/map">
                <i class="fa fa-map" style="background-color: #4547cf"></i>
                Blueprint
            </a>
            <a class="admin-section-stats-panel" href="/admin/movies">
                <i class="fas fa-film" style="background-color: #45cfc8"></i>
                Movies
            </a>
            <a class="admin-section-stats-panel" href="/admin/rooms">
                <i class="fas fa-video" style="background-color: #a845cf"></i>
                Rooms
            </a>
            <a class="admin-section-stats-panel" href="/admin/employee">
                <i class="fas fa-user-tie" style="background-color: #cfcd45"></i>
                Employee
            </a>
            <a class="admin-section-stats-panel" href="/admin/product">
                <i class="fa-solid fa-bowl-food" style="background-color: #c445cf"></i>
                Product
            </a>
            <a class="admin-section-stats-panel" href="/admin/news">
                <i class="fa-solid fa-newspaper" style="background-color: #cf457a"></i>
                News
            </a>
            <a class="admin-section-stats-panel" href="/admin/promotion">
                <i class="fa-solid fa-percent" style="background-color: #45cf7e"></i>
                Promotion
            </a>
        </div>
    </div> 
</div>