<section class="account-info-container">
    <h3>Your account info</h3>
    <div class="account-container">
        <table>
            <tr>
                <td>Full name: {{data.name}}</td>
            </tr>
            <tr>
                <td>Gender: {{data.gender}}</td>
            </tr>
            <tr>
                <td>Phone: {{data.phone}}</td>
            </tr>
            <tr>
                <td>Email: {{data.email}}</td>
            </tr>
        </table>
        <a href="/account/changepassword">Change your password</a>
    </div>
</section>