<!DOCTYPE html>
<html lang="en">
{{!-- <?php 
        $id = $_GET['id'];
        $link = mysqli_connect("localhost", "root", "", "cinema_db");

        $movieQuery = "SELECT * FROM movieTable WHERE movieID = $id"; 
        $movieImageById = mysqli_query($link,$movieQuery);
        $row = mysqli_fetch_array($movieImageById);
?> --}}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    {{!-- <title>Detail <?php echo $row['movieTitle']; ?></title> --}}
    <link rel="icon" type="image/png" href="img/logo.png">
</head>

<body style="background-color:lightblue;">
    <div class="booking-panel">
        <div class="booking-panel-section booking-panel-section1">
            <h1>MOVIE DETAIL</h1>
        </div>
        <div class="booking-panel-section booking-panel-section2" onclick="window.history.go(-1); return false;">
            <i class="fas fa-2x fa-times"></i>
        </div>
        <div class="booking-panel-section booking-panel-section3">
            <div class="movie-box">
                {{!-- <?php
                    echo '<img src="'.$row['movieImg'].'" alt="">';
                    ?> --}}
            </div>
        </div>
        <div class="booking-panel-section booking-panel-section4">
            {{!-- <div class="title"><?php echo $row['movieTitle']; ?></div> --}}
            <div class="movie-information">
                {{!-- <table>
                    <tr>
                        <td>GENGRE</td>
                        <td><?php echo $row['movieGenre']; ?></td>
                    </tr>
                    <tr>
                        <td>DURATION</td>
                        <td><?php echo $row['movieDuration']; ?></td>
                    </tr>
                    <tr>
                        <td>RELEASE DATE</td>
                        <td><?php echo $row['movieRelDate']; ?></td>
                    </tr>
                    <tr>
                        <td>DIRECTOR</td>
                        <td><?php echo $row['movieDirector']; ?></td>
                    </tr>
                    <tr>
                        <td>ACTORS</td>
                        <td><?php echo $row['movieActors']; ?></td>
                    </tr>
                    <tr>
                        <td class="book-ticker-container">
                            </td>
                        </tr>
                </table> --}}
            </div>
            <div class="book-ticket-btn-container">
                <a class="book-ticket-btn" href="booking.php?id='<?=$id?>'"><i class="fas fa-ticket-alt"></i> Book now</a>
            </div>
        </div>
    </div>
    <script src="scripts/jquery-3.3.1.min.js "></script>
    <script src="scripts/script.js "></script>
</body>

</html>