
    <section class="user-booking-container">
        <h1>Your booking list</h1>
        <h3>Here you are</h3>
        <div class="user-booking-table">
            <section class="py-5 ">
            <div class="container px-4 px-lg-5 mt-5">
                <h2 class="fw-bolder mb-4">Popcorn Drinks</h2>
                <h2 class="fw-bolder mb-4">Total: <strong class="total-price">0 </strong> VND</h2>
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    {{#each resultArray}}
                    <div class="col col-12 col-sm-4 col-md-3  mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img   class="card-img-top" src="images/popcorn/{{picture_path}}" alt="{{name}}" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{name}}</h5>
                                    <!-- Product price-->
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="price" style="text-align: center;"><strong class="price-num">{{price}}</strong> VND</div>
                                <div class="quantity" style="text-align: center;">
                                    <i class="fa fa-minus-circle" onclick="minusproduct(this)"></i>
                                    <span>
                                        <input class="inputPrice" style="text-align: center; width:50px" type="hidden" value="0" readonly>

                                        <input class="inputQuantity" style="text-align: center; width:50px" type="text" value="0" readonly>
                                    </span>
                                    <i class="fa fa-plus-circle"  onclick="plusproduct(this)"></i>

                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                    
                    
                </div>
            </div>
        </section>
        </div>
    </section>


    <script src="./javascripts/jquery-3.3.1.min.js "></script>
<script src="./javascripts/script.js "></script>
    <script>
        let sum = 0;
        function minusproduct(obj){
            let ob = $(obj).parent().parent();
            let quanlity = Number($(ob).find('.inputQuantity').val());
            if(quanlity <= 0){
                quanlity = 0;
            }else{
                $(ob).find('.inputQuantity').val(quanlity - 1);
            let price = Number($(ob).find('.price-num').html());
            sum-= price;
            }

            //console.log("quanlity:" + quanlity);
            //console.log("price:" + price);
            //sum = quanlity * price

            $('.total-price').html(sum);

            //sumPrice(quanlity,price);
        }

        function plusproduct(obj){
            let ob = $(obj).parent().parent();
            
            let quanlity = Number($(ob).find('.inputQuantity').val());
            let priceHidden = Number($(ob).find('.inputPrice').val());
            let sl = quanlity + 1;
            $(ob).find('.inputQuantity').val(sl);
            let price = Number($(ob).find('.price-num').html());

            //console.log("quanlity:" + sl);
            //console.log("price:" + price);
            //priceHidden = sl * price;
            sum+= price;
            $('.total-price').html(sum);

            //console.log("priceHidden: " + priceHidden);
            //$(ob).find('.inputPrice').val(priceHidden)

            //sumPrice(quanlity,price);
            
        }
    </script>